@font-face {
    font-family: Cafe_Bold;
    src: url("../fonts/Louis\ George\ Cafe\ Bold.ttf") format("truetype");
}
@font-face {
    font-family: Cafe;
    src: url("../fonts/Louis\ George\ Cafe.ttf") format("truetype");
}



body{
    background-color: white;
    margin: 0;
}


a{
    color: inherit;
    text-decoration: none;
}

/* ========================= PAGE MENU HEADER ========================= */

header#header{
    /* color change on scroll (see js) */
    background-color: rgba(256, 256, 256, 0);
    transition: 0.5s;
    /* fixed position, will stay on top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* other */
    font-family: Cafe_Bold;
    box-shadow: 0px 1px 5px transparent;
    color: white;
}

div#website_name{
    /* website name */
    font-size: 30px;
    margin-left: 24px;
    padding-top: 20px;
}

div#utilisateurs{
    position: absolute;
    display: inline;
    top: 25px;
    right: 44px;
    transition: 500ms;
}
div#utilisateurs:hover{
    transform: translateY(-3px);
    transition: 500ms;
}
div#utilisateurs a{
    text-align: center;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125%;
    height: calc(1em*1.6);
}
div#utilisateurs a:hover{
    padding-bottom: 3px;
}
div#utilisateurs a::after{
    content: '';
    position: absolute;
    background: #026e9f;
    width: 120%;
    height: calc(1em*1.6);
    right: -22.5%;
    top: 0;
    z-index: -1;
    border-radius: 5px;
    transition: 500ms;
}
div#utilisateurs a:hover::after{
    background: #03a9f4;
    transition: 500ms;
}

header#header div ul{
    color: white;
}
header#header div ul li{
    background-color: inherit;
}

#keep_hover{
    color: #03a9f4;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

@media screen and (min-width: 900px) {
    /* if the screen is bigger than 900px (on a computer) */
    /* underline animation on the header links */
    header#header div ul li a {
        display: inline-block;
    }
    header#header div ul li a:hover {
        color: #03a9f4;
        transition: 300ms;
    }
    header#header div ul li a::after {
        content: '';
        width: 0px;
        height: 1.5px;
        display: block;
        background: #03a9f4;
        transition: 300ms;
    }
    header#header div ul li a:hover::after {
        width: 100%;
    }
    /* end of underline animation */

    header#header div ul li{
        display: inline;
        margin-inline: calc(9%/7);
    }
    header#header div ul{
        list-style-type: none;
        padding-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 900px) {
    
}

/* ========================= PAGE IMAGE HEADER ========================= */

div#page_header{
    
}

div#page_header img{
    height: 100%;
    width: 100%;

    position: relative;
    z-index: -1;
    filter: brightness(65%);

    /*make the image not selectable :*/ /* TODO NOT WORKING */
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}