@font-face {
    font-family: Cafe_Bold;
    src: url("../fonts/Louis\ George\ Cafe\ Bold.ttf") format("truetype");
}
@font-face {
    font-family: Cafe;
    src: url("../fonts/Louis\ George\ Cafe.ttf") format("truetype");
}


*{
    margin: 0;
    padding: 0;
}


body{
    background-color: white;
}


a{
    color: inherit;
    text-decoration: none;
}


/* ========================= PAGE MENU HEADER GENERAL ========================= */
header#header{
    font-family: Cafe_Bold;
    width: 100%;
}
div#website_name{
    font-family: Cafe;
    font-size: 30px;
}
div#utilisateurs{
    position: absolute;
    display: inline-block;
    background: #026e9f;
    z-index: 1;
    top: 25px;
    right: 25px;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 500ms;
}
div#utilisateurs:hover{
    transform: translateY(-3px);
    transition: 500ms;
    background: #03a9f4;
}
div#utilisateurs a{
    color: white;
    font-size: 15px;
    padding: 3px;
}

@media screen and (min-width: 900px) {
    /* if the screen is bigger than 900px (on a computer) */
    /* ========================= PAGE MENU HEADER COMPUTER ========================= */

    header#header{
        /* color change on scroll (see js) */
        background-color: rgba(256, 256, 256, 0);
        transition: 0.5s;
        /* fixed position, will stay on top */
        position: fixed;
        /* other */
        box-shadow: 0px 1px 5px transparent;
        color: white;
    }

    div#website_name{
        /* website name */
        position: relative;
        display: inline-block;
        padding-left: 24px;
        padding-top: 20px;
    }

    div#header_path_container{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    div#header_path_container ul{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        text-align: center;
        color: white;
    }
    #keep_hover{
        color: #03a9f4;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 2px;
    }
    /* underline animation on the header links */
    div#header_path_container ul li a:hover {
        color: #03a9f4;
        transition: 300ms;
    }
    div#header_path_container ul li a::after {
        display: block;
        content: '';
        width: 0px;
        height: 1.5px;
        background: #03a9f4;
        transition: 300ms;
    }
    div#header_path_container ul li a:hover::after {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    
}

/* ========================= PAGE IMAGE HEADER ========================= */

div#page_header{
    position: relative;
    z-index: -1;
}

div#page_header img{
    height: 200%;
    width: 100%;

    position: absolute;
    z-index: -2;
    filter: brightness(65%);

    /*make the image not selectable :*/ /* TODO NOT WORKING */
    pointer-events: none;
}