@font-face {
    font-family: Cafe_Bold;
    src: url("../fonts/Louis\ George\ Cafe\ Bold.ttf") format("truetype");
}
@font-face {
    font-family: Cafe;
    src: url("../fonts/Louis\ George\ Cafe.ttf") format("truetype");
}



body{
    background-color: gray;
}



header#header{
    /* color change on scroll (see js) */
    background-color: rgba(256, 256, 256, 0.1);
    transition: 0.5s;
    /* fixed position, will stay on top */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* other */
    font-family: Cafe_Bold;
}

div#website_name{
    /* website name */
    font-size: 30px;
    margin-left: 24px;
    padding-top: 20px;
}

header#header div ul{
    color: #026e9f;
}
header#header div ul li{
    background-color: inherit;
}

#keep_hover{
    color: #03a9f4;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

@media screen and (min-width: 900px) {
    /* if the screen is bigger than 900px (on a computer) */
    header#header div ul li a:hover{
        color: #03a9f4;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-thickness: 2px;
        transition: 0.4s;
    }
    header#header div ul li{
        display: inline;
        margin-inline: calc(9%/7);
    }
    header#header div ul{
        list-style-type: none;
        padding-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 900px) {
    
}



a{
    text-decoration: none;
    color: inherit;
}