{% extends "base.html" %}

{% block title %}
Canoë Kayak Sartrouville
{% endblock %}

{% block base_content %}
<!-- div#base_content is the father -->

<!-- Paragraph group -->
<div>
    <h1>Paragraph group title</h1><!-- can be empty -->
    <!-- Paragraph -->
    <div id="paragraphs_wrapper">
        <div>
            <h2>Paragraph title</h2><!-- can be empty -->
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
                <tr>
                    <td>contenu5</td>
                    <td>contenu6</td>
                </tr>
            </table>
        </div>

        <div>
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Paragraph title</h2><!-- can be empty -->
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
        </div>
    </div>
</div>




<!-- Paragraph group -->
<div>
    <!-- Paragraph -->
    <div id="paragraphs_wrapper">
        <div>
            <h2>Paragraph title</h2><!-- can be empty -->
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
        </div>

        <div>
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Paragraph title</h2><!-- can be empty -->
            <p>
                Paragraph content, can include links like so <a href="test">test</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}