{% extends "base.html" %}

{% block title %}
Canoë Kayak Sartrouville
{% endblock %}

{% block base_content %}
<!-- div#base_content is the father -->

<!-- Paragraph group -->
<div>
    <h1>Ecole de pagaie jeune</h1><!-- can be empty -->
    <!-- Paragraph -->
    <div id="paragraphs_wrapper">
        <div>
            <div>
                <p><!-- can be empty -->
                    Les jeunes, âgés de 8 à 14 ans, se retrouvent tous les samedis après-midi avec un moniteur pour pratiquer le canoë-kayak sous toutes ses formes : descente, slalom, kayak-polo, etc.
                </p>
            </div>
        </div>

        <div>
            <div>
                <p><!-- can be empty -->
                    Ils ont également la possibilité d’apprendre les techniques du canoë-kayak tous les jeudis soir lors d’entrainements sur la Seine, aux étangs de Cergy ou en piscine, et de venir aux sorties du calendrier le week-end, en commun avec les adhérents du club.
                </p>
            </div>
        </div>

        <div>
            <div>
                <p><!-- can be empty -->
                    Ils peuvent aussi participer aux challenges avenir et espoir qui sont des compétitions régionales où les jeunes de toutes les écoles de pagaies d’Île de France se retrouvent pour s’affronter dans différentes disciplines.
                </p>
            </div>
        </div>
    </div>
    
    <footer></footer> <!-- important to display the waves (look js) -->
</div>

<div>
    <h1>Ecole de pagaie adulte et sorties</h1><!-- can be empty -->
    <!-- Paragraph -->
    <div id="paragraphs_wrapper">
        <div>
            <div>
                <p><!-- can be empty -->
                    Nous offrons chaque jeudi soir des entraînements sur la Seine à l’automne, en piscine l’hiver, et aux étangs de Cergy au printemps.
                </p>
            </div>
        </div>

        <div>
            <div>
                <p><!-- can be empty -->
                    Tout au long de l’année nous organisons des sorties dominicales dans la région parisienne.
                </p>
            </div>
        </div>

        <div>
            <div>
                <p><!-- can be empty -->
                    Une fois par mois environ, nous organisons un week-end sur une rivière plus tumultueuse comme par exemple la Cure, le Chalaux, les Dranses, l’Allier, la Vézère ou encore la Rouvre.
                </p>
            </div>
        </div>
    </div>

    <footer></footer> <!-- important to display the waves (look js) -->
</div>

<div>
    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
    <h1>Paragraph group title</h1><!-- can be empty -->
    <!-- Paragraph -->
    <div id="paragraphs_wrapper">
        <div>
            <div>
                <h2>Paragraph title</h2><!-- can be empty -->
                <p><!-- can be empty -->
                    Paragraph content, can include links like so <a href="test">test</a>
                </p>
            </div>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <div>
                <p>
                    Paragraph content, can include links like so <a href="test">test</a>
                </p>
            </div>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
                <tr>
                    <td>contenu5</td>
                    <td>contenu6</td>
                </tr>
            </table>
        </div>

        <div>
            <div>
                <h2>Paragraph title</h2><!-- can be empty -->
                <p><!-- can be empty -->
                    Paragraph content, can include links like so <a href="test">test</a>
                </p>
            </div>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
            </table>
        </div>

        <div>
            <div>
                <p>
                    Paragraph content, can include links like so <a href="test">test</a>
                </p>
            </div>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
                <tr>
                    <td>contenu5</td>
                    <td>contenu6</td>
                </tr>
            </table>
        </div>

        <div>
            <div>
                <p>
                    Paragraph content, can include links like so <a href="test">test</a>
                </p>
            </div>
            <table><!-- can be empty -->
                <tr>
                    <th>titre1</th>
                    <th>titre2</th>
                </tr>
                <tr>
                    <td>contenu1</td>
                    <td>contenu2</td>
                </tr>
                <tr>
                    <td>contenu3</td>
                    <td>contenu4</td>
                </tr>
                <tr>
                    <td>contenu5</td>
                    <td>contenu6</td>
                </tr>
            </table>
        </div>
    </div>
    
    <footer></footer> <!-- important to display the waves (look js) -->
</div>

{% endblock %}